.Page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  text-align: center;

  .four_zero_four_bg {
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;

    h2 {
      font-size: 80px;
    }
  }

  .contant_box_404 {
    margin-top: -50px;

    .link_404 {
      padding: 10px 20px;
      margin: 20px 0;
      display: inline-block;
    }
  }
}
